<!-- <button (click) ="getSelectedRows()">Get Selected Data</button> -->
<ag-grid-angular 
#agGrid
style="height: 600px; width:500px;"
class="ag-theme-balham"
[groupSelectsChildren]="true"
[rowData]="rowData | async"
[columnDefs]="columnDefs"
[defaultColDef]="defaultColDef"
rowSelection="multiple">
</ag-grid-angular>

<!--AsyncPipe  
  The AsyncPipe subscribes to an observable or promise and returns the latest value it has emitted.
   When a new value is emitted, the pipe marks the component to be checked for changes.
-->
<!--observable  
  
-->